<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <%- include("partials/navbar") %>
        <% if (locals.user) {%>
            <form action="/authorizationLevel" method="post">
                <label for="authorizationCode">Submit your secret password to become an Approved Member or an
                    Admin</label>
                <input type="text" name="authorizationCode" id="authorizationCode">
                <button type="submit">Submit</button>
                <div>Your current user status is
                <% if (locals.user.membership_status==='member' ) {%>
                    <span>Member - not yet approved</span>
                    
                <% } else if (locals.user.membership_status==='admin' ) {%>
                    <span>Admin</span>
                <% } else if (locals.user.membership_status==='approved_user' ) {%>
                    <span>Approved member</span>
                <% } %>
                </div>
            </form>
            <% } else { %>
                <div>You need to be logged in to view this page!</div>
                <a href="/sign-in">Sign-in</a>
                <% } %>
</body>