<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <%- include("partials/navbar") %>
    <div>
        <h2>Create a new Post</h2>
            <% if (!locals.user) {%>
                <div>You are not logged in. Please <a href="/sign-in">log in </a>to create a post, and see more details about existing posts!</div>
            <% } else if ((locals.user) && (locals.user.membership_status === "member")) { %>
                <div>You are logged in, but your membership has not been approved yet. Please submit your secret code to become an approved member on our <a href="/authorizationLevel">authorization page</a></div>
            <% } else { %>
                <form action="">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="Title" required>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="5" cols="30"></textarea>
                    <button type="submit">Submit message</button>
                </form>
            <% } %>
    </div>


</body>

</html>