<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <header>
        <nav>
            <h1>Members-only message board</h1>
            <% if (locals.user) {%>
                <div>Hello <%=locals.user.first_name %></div>
                <a href="/log-out">Log out</a>
            <% } else { %>
                    <a href="/sign-in">Sign-in</a>
                    <a href="/sign-up">Sign-up</a>
            <% } %>
        </nav>
    </header>
</body>

</html>